* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.table-nav {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-field {
    
    input {
        width: 100%;
        height: 45px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.search {
    max-width: 200px;
}